@import "compass";
@import "mixins";

@import url(custom_common.css);
@import url(color_schemes/common.css);
@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);

$dockbarGradientEnd: #1273C7;
$dockbarGradientStart: #118ADE;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

@font-face {
    font-family: "myfont";
    src: url(../css/fonts/MYRIADPRO-COND.OTF)
}
@font-face {
    font-family:"centurygothic";
    src: url(../css/fonts/centurygothic.ttf)
}
@font-face {
    font-family:"HelveticaNeue";
    src: url(../css/fonts/HelveticaNeue.otf)
}

.accordion-toggle {
    background: white none repeat scroll 0 0;
    color: black !important;
}
.lfr-search-container{
padding-left: 20px;
    padding-right: 20px;
}


/* ---------- Admin notification none---------- */
/* .dropdown-toggle.user-notification-link {
    display: none !important;
}
.my-sites.dropdown.dockbar-item {
    display: none;
} */

/* ---------- Admin view headings---------- */
.dashboard-headingstyle {
    color: #1a1a1a;
    font-family: helveticaneue;
    font-size: large;
    padding-left: 20px;
}
/* ---------- Navigation bar background---------- */
.aui #navigation .navbar-inner {
    background-color: #45a5d5 !important;
}

#content {
    border: 1px solid #d9d9d9;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/* ---------- Breadcrumbs ---------- */
.aui #breadcrumbs {
    margin-bottom: 10px !important;
}
/* ---------- Base styles ---------- */

.aui {
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}

	.site-title {
		a:hover {
			text-decoration: none;
		}

		.site-name {
			display: inline-block;
		}
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}

	.site-navigation {
		margin-bottom: 6px;

		.lfr-nav-item {
			span, a {
				@include ellipsis;

				max-width: 300px;
			}
		}
	}

	.taglib-portal-message {
		margin-bottom: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 6px 10px;

						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;

			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));

			.nav {
				> li {
					background-color: $dockbarGradientStart;

					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					background-color: transparent;

					@include background-image(none);

					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							background: #5BBAE8;
						}

						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			margin-left: 0;
			padding: 0 20px 0 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			li {
				&.dropdown {
					> .dropdown-toggle {
						padding-right: 0;

						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						background-color: #1175C9;
						color: #FFF;
					}
				}

				&.active > a {
					background-color: $dockbarGradientStart;
				}
			}

			> li > a {
				padding: 4px 15px 5px;
			}

			.dropdown-menu {
				background: #00ACFF;
				border-width: 0;
				margin: 0;

				&:after, &:before {
					border-width: 0;
				}

				a {
					color: #FFF;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		.navbar-inner {
			background: #555;
			border-width: 0;
			min-height: 36px;

			li a {
				color: #FFF;
			}
		}
	}

	.modify-pages {
		.delete-tab {
			background: #555;
			border: 2px solid #FFF;
			color: #FFF;
			font-size: 16px;
			padding: 4px;
			right: -10px;
			top: 0;
			z-index: 300;
		}

		.lfr-nav-item .lfr-nav-child-toggle {
			padding: 10px;

			i {
				margin: 0;
			}

			@include respond-to(phone, tablet) {
				line-height: 1em;
				padding: 14px;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.drag-handle {
			background-color: rgba(255, 255, 255, 0.75);
			color: #009AE5;
		}
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		background-color: #FAFAFA;
	}

	#breadcrumbs {
		margin-bottom: 45px;

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
	}

	.portlet-topper {
		background: #D3D3D3;
		color: #FFF;
		padding: 0;

		.portlet-title {
			font-size: 1em;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-message-boards .header-title {
		@include hyphenation;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-blogs .entry-body, .portlet-journal-content .journal-content-article, .portlet-message-boards .thread-body {
		word-wrap: break-word;
	}

	.edit-actions {
		list-style: none;
		margin-left: 0;
		margin-right: 0;

		li {
			float: left;
			margin-right: 10px;
		}
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		text-align: right;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;

		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);

			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}

	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				@include box-shadow(none);
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;

		.portlet-actions {
			@include box-shadow(inset 2px 1px 2px #000);
		}

		.portlet-title-default {
			@include box-shadow(inset -2px 1px 2px #000);
		}
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart, $dockbarGradientEnd));
			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}
}
	/* ---------- Search container Style ---------- */
.aui .table td {
    background-color: white;
}
.aui .table thead th {
    background-color: #45a5d5;
    color: white;
    font-size: 15px;
    font-weight: normal;
}
.aui .table th, .aui .table td {
    border-top: 1px solid #ddd;
    color: gray;
    font-family: arial;
    font-size: 13px;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.aui .pager .disabled > a, .aui .pager .disabled > a:hover, .aui .pager .disabled > a:focus, .aui .pager .disabled > span {
    background-color: #45a5d5;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

/* ---------- Input Text Area & Text Style ---------- */
.aui input[type="text"],.aui input[type="password"]{
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.075) inset !important;
	border-radius: 2px !important;
	border: 1px solid #ddd !important;
    height: 30px;
    width: 250px;
    font-family: myfont;
    font-size: large;
}
.aui select{
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.075) inset !important;
	border-radius: 2px !important;
	border: 1px solid #ddd !important;
	height: 39px;
    width: 265px;
}
.aui textarea {
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset !important;
    height: 140px;
    width: 250px !important;
}
.aui label {
    color: #888888;
    font-family: arial;
    font-size: 13px;
}
.aui .control-group {
    margin-bottom: 0px !important;
}
.dashboard-maindiv2{
	border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px 0px 10px;
    position: relative;
    min-height: 430px;
    padding-top: 24px;
    /* top: 13px; */
}
.aui .dockbar .container .btn .user-avatar-image, .aui .dockbar .nav li.dropdown.user-avatar .user-avatar-image {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #5594e0;
    width: 32px;
}

#custom{
	padding-left: 20px;
	 padding-right: 20px;
}
#but{
	margin-left: 20px;
}

.productdelete{
	background: gray;
    border: 0 none;
    color: white;
    font-family: myfont !important;
    font-size: medium !important;
    height: 35px;
    min-width: 110px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    margin-left: 20px !important;
    border-radius: 3px;
}
.productdelete:hover{
background-color: #CDDC39;
}
#addproduct {
    background: #ffc107 none repeat scroll 0 0;
    border: 0 none;
    font-family: myfont;
    height: 35px;
    min-width: 110px;
    color:white;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    border-radius: 3px;
}
#addproduct:hover {
	background-color: #CDDC39;
}
.selectproduct{
    background: #ffc107 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px;
    min-width: 125px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    border-radius: 3px;
}
.selectproduct:hover{
	background: #CDDC39 !important;
}
#_coupon_WAR_esquareecommerceportlet_fm1,#_coupon_WAR_esquareecommerceportlet_fm{
	padding-left: 20px;
}
.couponsearch{
	 background: #ffc107 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px;
    min-width: 125px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    margin-top: 14px !important;
    border-radius: 3px;
}
.couponsearch:hover{
	background: #CDDC39 !important;
}
.submitcoupon{
	 background: #ffc107 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px;
    min-width: 125px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    border-radius: 3px;
}
.submitcoupon:hover{
	background: #CDDC39 !important;
}
.cancelcoupon1{
		background: gray !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px !important;
    min-width: 125px !important;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    border-radius: 3px;
}
.cancelcoupon1:hover{
	background: #CDDC39 !important;
}
.coupondelete{
	background: #808080 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px;
    min-width: 125px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    border-radius: 3px;
}
.coupondelete:hover{
	background: #CDDC39 !important;
}
.couponadd{
 background: #ffc107 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px;
    min-width: 125px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    border-radius: 3px;
}
.couponadd:hover{
	background: #CDDC39 !important;
}
#_coupon_WAR_esquareecommerceportlet_startDate,#_coupon_WAR_esquareecommerceportlet_endDate{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 230px center;
}
#_coupon_WAR_esquareecommerceportlet_startDateTime,#_coupon_WAR_esquareecommerceportlet_endDateTime{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/time.png") no-repeat scroll 84px center;
	width: 100px;
	 margin-left: 5px;
}
#_myprofile_WAR_esquareecommerceportlet_birthday{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_emailAddress,#_myprofile_WAR_esquareecommerceportlet_zip{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/email.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_mobile,#_myprofile_WAR_esquareecommerceportlet_phone{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/phone.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_skypeSn{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/skype.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_city{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/city.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_street{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/street.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_db-pfirstname,#_myprofile_WAR_esquareecommerceportlet_db-plastname{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/name.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_password1,#_myprofile_WAR_esquareecommerceportlet_password2{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/password.png") no-repeat scroll 230px center;
}
.aui .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ffc107 none repeat scroll 0 0;
    border-image: none;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    color: white;
    cursor: default;
    font-family: myfont;
    font-size: medium;
}
.aui .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 0;
    font-family: myfont;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 3px;
    padding-top: 8px;
}
.nextdomain {
    background: #ffc107 none repeat scroll 0 0 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 30px;
    margin-left: 12% !important;
    min-width: 96px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
}
.nextdomain:hover{
	background: #CDDC39 !important;
}


.dbproduct-header {
    font-family: arial;
    font-size: 12px;
    margin-left: 20px;
}
.uploadimage{
	color: #888;
    font-family: arial;
    font-size: 13px;
    margin-bottom: 10px;
}
#_product_WAR_esquareecommerceportlet_imageFile{
	 margin-bottom: 10px;
}
.aui #breadcrumbs .breadcrumb {
    display: none !important;
}
/* #VerticalNavDiv {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px 22px;
} */
#search{
	 background-color: #45a5d5 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 40px !important;
    margin-bottom: 0;
    margin-top: 0;
    width: 130px !important;
     margin-left: 0 !important;
}

.dash-total {
	margin-top: 0px !important;
}

#dash-saletodaytotal {
	margin-top: -15px !important;
}

#removediv {
	padding-left:146px;
	margin-top:-39px;
}

#tracking {
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 178px;
}
#order {
	color: #1a1a1a;
    font-family: helveticaneue;
    font-size: large;
    margin-top: 4px;
    padding-left: 20px;
}
#order1 {
	color: #1a1a1a;
    font-family: helveticaneue;
    font-size: large;
    margin-top: 20px !important;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
.box1 {
	padding-left: 20px;
}
.headingsetting {
	color: #1a1a1a;
	font-family: helveticaneue;
	font-size: large;
	margin-top: -5px;
	padding-left: 20px;
}
#web1 {
	color: #888;
    font-family: arial;
    font-size: 13px;
    padding-left: 10px;
}

.name1 {
	color: #888;
	font-family: arial;
    font-size: 13px;
}
#wall {
	color: #1a1a1a;
	font-family: helveticaneue;
	font-size: large;
	padding-left: 20px;
}
#dashboard-maindiv {
	color: #1a1a1a;
	font-family: helveticaneue;
	font-size: large;
	padding-left: 20px;
}
#form {
	color: #888;
	font-family: arial;
    font-size: 13px;
    margin-left: 20px;
}
 .aui .nav-tabs > li {
	margin-left: 20px;
} 
.aui .alert, .aui .portlet-msg-alert, .aui .portlet-msg-error, .aui .portlet-msg-help, .aui .portlet-msg-info, .aui .portlet-msg-progress, .aui .portlet-msg-success {
    background-color: white !important;
    border: 0 none !important;
    border-radius: 0 !important;
    color: black !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    text-align: center;
}
.aui .sub .btn {
	background: #ffc107 none repeat scroll 0 0 !important;
    border: 0 none;
    font-family: myfont;
    height: 35px;
    min-width: 110px;
    color:white;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    border-radius: 3px;
}
.aui .sub .btn:hover {
	background-color: #CDDC39 !important;
}
.aui .dashboard-maindiv2 .accordion-toggle {
	padding-left:25px !important;
}
.button1 {
background: gray;
    border: 0 none;
    color: white;
    font-family: myfont !important;
    font-size: medium !important;
    height: 35px;
    min-width: 110px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    margin-left: 20px !important;
    border-radius: 3px;
}

.file1 {
    	border: 1px solid #ccc;
    	border-radius: 4px;
    	padding-top: 20px;
    	padding-left:30px;
    	padding-bottom: 25px;
}
.powered-by {
    font-size: small;
    margin-right: 22px !important;
}
.child {
	background-color: #dbdbdb !important;
}
.list1 {
	margin-left: 23px;
}
.subs1 {
	margin-top: -32px;
}
.setbox1 {
border: 1px solid #ccc;
border-radius: 3px;
height: 270px;
}
.box {
border: 1px solid #ccc;
border-radius: 3px;
height: 179px;
}
#VerticalNav {
margin-left: 20px;
}
#liferaytabs {
	margin-top: 13px;
}
#VerticalNavMargin:hover{
color: #009AE5;
}
#VerticalNavMargin {
color: gray;
font-family: arial;
font-size: 13px;
}
.head1{
color: #1a1a1a;
    font-family: helveticaneue;
    font-size: large;
    padding-left: 20px;
    padding-top: 22px;
}
#storesetting-packagealert-div1 {
	width: 100% !important;
	margin-left: 0px !important;
}
.testt1 {
	border: 0px !important;
	max-height: 230px;
	width: 169px;
}
#schemeTitle {
	text-align: center;
	padding-top:20px;
	font-family: myfont;
	font-size: 18px;
	color: #45a5d5;
	text-transform: uppercase;
}
.highslide-gallery {
	padding-right:20px;
	max-height:358px;
}
#temp1 #dashboard-maindiv {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.theme1 {
	background: #ffc107 none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 3px;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 35px;
    margin-left: 20px !important;
    margin-top: -15px !important;
    min-width: 110px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
}
.theme1:hover {
	background-color: #CDDC39 !important;
}
.ordertextsearch {
 margin-left: 20px;
 }
 #top1 {
  margin-top: 10px;
  }