</table><br /><br /><br /><br /><br /><br /><br /><br />
The shipment will be sent to: <br /><br />

[$SHIIPING_ADDRESS$]<br />
Phone: [$PHONE_NUMBER$] <br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]<br />