<p>
	Dear [$TO_NAME$],</p>
<p>
	<span style="line-height: 1.4;">Thank you for using&nbsp;</span><strong><a href="http://www.esquarecart.com">http://www.esquarecart.com</a></strong><span style="line-height: 1.4;">&nbsp;.Your payment is made Successfull.</span></p>
<p>
	<span style="line-height: 1.4;"><strong>Customer Details:</strong> &nbsp; &nbsp; &nbsp; </span></p>
<div style="margin-left: 40px;">
	Customer Name &nbsp; : &nbsp; [$CUSTOMER_NAME$]</div>
<div style="margin-left: 40px;">
	Store Id &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: &nbsp; [$STORE_ID$]</div>
<div style="margin-left: 40px;">
	Store Domain &nbsp; &nbsp; &nbsp; : &nbsp; [$STORE_DOMAIN$]</div>
<div style="margin-left: 40px;">
	Country &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; [$COUNTRY$]</div>
<div style="margin-left: 40px;">
	State &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; [$STATE$]<span style="line-height: 1.4;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></div>
<p>
	&nbsp;</p>
<p>
	<strong>Payment Details:</strong></p>
<table border="1" cellpadding="0" cellspacing="0" dir="ltr" style="width: 500px;">
	<tbody>
		<tr>
			<td style="white-space: nowrap;">
				TransactionId</td>
			<td>
				[$TRANSACTION_ID$]</td>
		</tr>
		<tr>
			<td>
				BillId</td>
			<td>
				[$BILL_ID$]</td>
		</tr>
		<tr>
			<td>
				Date</td>
			<td>
				[$DATE$]</td>
		</tr>
		<tr>
			<td>
				Bill Duration</td>
			<td>
				[$BILL_FROM$] to [$BILL_TO$]</td>
		</tr>
	</tbody>
</table>
<p>
	<br />
	<br />
	Sincerely,<br />
	[$FROM_NAME$]<br />
	[$FROM_ADDRESS$]<br />
	[$PORTAL_URL$]</p>
