
Dear [$TO_NAME$],<br /><br />

Your order has been returned.

<br /><br />


<table align="left" border="1" cellpadding="0" cellspacing="0" style="width: 500px; height: 100px;">
	<tr style = "background-color: #00648b;">
		<td>Name</td>
		<td>Quantity</td>
		<td>Expected Delivery Date</td>
		<td>Price</td>
		<td>Sub Total</td>
	</tr>