#buynow {
	
	background:url("../images/eec/cart/ecart-add_to_cart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 39px;
	width: 137px;
	border: none;
}

#productnamelist {
    color: #ec633f;
    font-style: normal;
    text-decoration: none;
}

.ecart-headfontfam {
    color: #020202;
    font-family: Open Sans;
    font-size: 15px;
}

