/* .eec-gridclass{
display: inline-table;
}
@-moz-document .eec-gridclass{
display: -moz-inline-box;
}

.eec-displaylist{
list-style: none;
background-color: white;
 }

.home-gridclass{
display: inline-table;
}

@-moz-document .home-gridclass{
display: -moz-inline-box;
}

#_userView_WAR_esquareecommerceportlet_tabs17610511511686105101119TabsId{
 background:url(../../../../images/eec/common/gridView.png) no-repeat;
	}
	
#_userView_WAR_esquareecommerceportlet_tabs17111410510086105101119TabsId{
 background:url(../../../../images/eec/common/listView.png) no-repeat;
	}
	


.aui-tabview-list, .aui-tab-content {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
      
}

.aui-tab-active .aui-tab-content, .aui-tab-active .aui-tab-content:hover {
    background: none;
}
.aui-tab-active .aui-tab-content {
    box-shadow: none;
}
.aui-tab-active .aui-tab-label {
    font-size: 15px;
    text-decoration: underline;
     text-shadow: none;
    
}

.aui-tab-active .aui-tab-label:hover{
	text-shadow: none;
	}
.aui-tab-label, .aui-tab-label a {

    font-size: 15px;
   
}

.portlet-msg-success {
	display: none;
}
ol#pagination li {
	float: left;
	list-style: none;
	cursor: pointer;
	margin: 0 0 0 .5em;
	font-size: 18px;
}

ol#pagination li.current {
	color: #EC4D25;
	font-weight: bold;
}


.aui-tabview-list .first, .aui-tabview-list .aui-tab:first-child {
    background: none repeat scroll 0 0 transparent;
    border-left-width: 0;
}


.aui-tabview-list .last, .aui-tabview-list .aui-tab:last-child {
    background: none repeat scroll 0 0 transparent;
     border-right-width: 0;
}

 .aui-tabview-list {
   margin-left: 673px;
  margin-top: -16px;
}  */