#linkedinForm {float: left; width: 73%;}
.linkedinProfileImgContainer {float: left; margin-top: 5px; width: 25%;}
#linkedinForm .aui-field-label { float:left; width:130px;}
#linkedinForm .aui-field-content { margin:5px 0px;}
#linkedinForm .aui-field-content input.aui-field-input-text { width:200px;}
.linkedinPopupAuthMsg{display: inline; float: left; text-align: center; width: 100%;}
#linkedinForm .yui3-widget-ft { display: none;}
span.IN-widget,
#linkedinForm .dateOfBirthContainer .aui-datepicker-select-wrapper {float: left; }
#linkedinForm .dateOfBirthContainer{display : block; width: 100%;}
#linkedinForm .aui-datepicker-select-wrapper select {margin-left: 0px;}
