.aui #navigation .nav li.open > a, .aui #navigation .nav li.active > a {
    background-color: #A72A30;
    background-image:none;
    color:#FFFFFF;
}

.aui #navigation .navbar-inner li a {
    color: #333333;
    
}

.aui #navigation .navbar-inner {
    background:none;
 }
 
 .aui #footer {
    text-align: center;
}


/* Template Page */
.dashboard-maindiv2 {
	border: 1px solid #C3D0E1;
	margin-top: 0px;
	width: 100%;
	height: auto;
}


 
.dashboard-pagemainheading70 {
	color: #012E69;
	font-family: icon;
	padding-bottom: 0;
	padding-left: 0px;
	padding-top: 3px;
	padding-left: 10px;
	font-size: 18px;
	border-bottom-width: 1px;
	height: 31px;
	background: url("../images/eec/box-title.gif") repeat scroll 0 0
		rgba(0, 0, 0, 0);
}

.dashboard-maindiv {
	border: 1px solid #C3D0E1;
	margin-top: 0px;
	width: 100%;
}




#schemeTitle{
	border: 1px solid #A72A30;
	background:#A72A30;
	color:#fff;
	font-size:15px;
	text-align:center;
	}
	
	.selectedtheme{
	background-image: url(../images/eec/selectedtheme.png);
	height:30px;
	width:126px;
	margin-left: 23px;
	}
	
	.dashboard-buttons input[type="submit"]:FOCUS,input[type="button"]:FOCUS,input[type="reset"]:FOCUS
	{
	background-image: url("../images/eec/buttonbg.png");
	background-repeat: repeat-x;
	border: medium none;
	color: #FFFFFF;
	font-family: icon;
	font-size: 15px;
	font-weight: 500;
	height: 37px;
	padding: 5px 20px;
	text-shadow: none;
	font-weight: 80px;
	padding: 0px;
	height: 35px;
	margin-left: 27px;
	padding: 0 3px 2px 2px;
	height: 29px;
	margin-left: 27px;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
}
	
#_instancecreation_WAR_esquareecommerceportlet_save {
    background-image: url("../images/eec/create-acct.png");
    color: #fff;
}

#_instancecreation_WAR_esquareecommerceportlet_save:hover{
	
	background-position:0px;
}



