.aui #navigation .navbar-inner {
	background:none;
}

.aui #navigation .nav li.active > a {
	background-color:white;
}

.aui #navigation .nav > .active > a {
	background-image:none;
}

.aui #navigation .navbar-inner li a {
	color:black;
}

.aui #navigation .nav li a:hover {
	background-color:none;
	bacground-image:none;
}

.aui #navigation .nav li.open > a {
	background-color:none;
}

.aui #navigation .nav li.active > a {
	color:#e67647;
}

.aui #navigation .nav li.open > a {
	background-color:white;
	color:#e67647;
}

.aui #navigation .navbar-inner {
	padding-top:25px;
	font-size:16px;
}

.aui #navigation .navbar-inner ul li {
	display:block;
}