@import "compass";
@import "mixins";

@import url(custom_common.css);
@import url(color_schemes/common.css);
@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);

$dockbarGradientEnd: #1273C7;
$dockbarGradientStart: #118ADE;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

@font-face {
    font-family: "myfont";
    src: url(../css/fonts/MYRIADPRO-COND.OTF)
}
@font-face {
    font-family:"centurygothic";
    src: url(../css/fonts/centurygothic.ttf)
}
@font-face {
    font-family:"HelveticaNeue";
    src: url(../css/fonts/HelveticaNeue.otf)
}
#eec-login-id {
    text-align: right;
    padding-right:5px;
}

.aui .control-group {
    margin-bottom: 0 !important;
}
#p_p_id_mycart_WAR_esquareecommerceportlet_INSTANCE_1000_{
	
	 height: 0;
    width: 0;
}
.filterheading{
	color: #000 !important;
    font-family: centurygothic !important;
    font-size: x-large !important;
}
.filtertext{
	font-size: 12px;
	font-family: arial;
}
#filterbox{
	border: 1px solid #ddd;
    padding-left: 35px;
}
#filterbox hr
{
	width:89%;
}
.footerheading{
	 font-family:myfont  !important;
    font-size: 18px !important;
    font-weight: normal !important;
    padding-left: 25px;
}
#footer ul li
{
	list-style-type:none;
}
#footerbelow{
float: left;
margin-left: 10px;
color: #a6a6a6 ;
font-family: arial;
font-size: smaller;
}
.aui #footer {
	text-align:initial !important;
}

#footer ul li:hover {
	text-decoration: none;
}
#privacyterms{
	font-family:arial;
	font-size:smaller;
	margin-right: 20px;
}
#privacyterms a{
	color:#a6a6a6;
}
#privacyterms:hover{
	color:white !important;
}
.aui body {
    overflow-x: hidden;
}
.companyinfo {
    color: #a6a6a6 !important;
    font-family: myfont;
   
}
.companyinfo:hover {
    color: white !important;
}
.aui #navigation .navbar-inner li a {
    color: #fff;
    
    font-size: medium;
    text-transform: capitalize;
}
.aui .container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.aui .site-navigation {
    margin-bottom: 0 !important;
}
.aui .portlet-borderless-container {
    padding: 0;
}

/* ---------- Base styles ---------- */

.aui #navigation .navbar-inner li a {
    height: 22px;
}
.navbar-inner{
	height: 44px;
}

.aui {
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}

	.site-title {
		a:hover {
			text-decoration: none;
		}

		.site-name {
			display: inline-block;
		}
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}

	.site-navigation {
		margin-bottom: 6px;

		.lfr-nav-item {
			span, a {
				@include ellipsis;

				max-width: 300px;
			}
		}
	}

	.taglib-portal-message {
		margin-bottom: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 6px 10px;

						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;

			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));

			.nav {
				> li {
					background-color: $dockbarGradientStart;

					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					background-color: transparent;

					@include background-image(none);

					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							background: #5BBAE8;
						}

						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			margin-left: 0;
			padding: 0 20px 0 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			li {
				&.dropdown {
					> .dropdown-toggle {
						padding-right: 0;

						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						background-color: #A3A3A3;
						color: #FFF;
					}
				}

				&.active > a {
					background-color: $dockbarGradientStart;
				}
			}

			> li > a {
				padding: 4px 15px 5px;
			}

			.dropdown-menu {
				background: #00ACFF;
				border-width: 0;
				margin: 0;

				&:after, &:before {
					border-width: 0;
				}

				a {
					color: #FFF;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		.navbar-inner {
			background: #555;
			border-width: 0;
			min-height: 36px;

			li a {
				color: #FFF;
			}
		}
	}

	.modify-pages {
		.delete-tab {
			background: #555;
			border: 2px solid #FFF;
			color: #FFF;
			font-size: 16px;
			padding: 4px;
			right: -10px;
			top: 0;
			z-index: 300;
		}

		.lfr-nav-item .lfr-nav-child-toggle {
			padding: 10px;

			i {
				margin: 0;
			}

			@include respond-to(phone, tablet) {
				line-height: 1em;
				padding: 14px;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.drag-handle {
			background-color: rgba(255, 255, 255, 0.75);
			color: #009AE5;
		}
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		background-color: #FAFAFA;
	}

	#breadcrumbs {
		margin-bottom: 15px;

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
	}

	.portlet-topper {
		background: #D3D3D3;
		color: #FFF;
		padding: 0;


		.portlet-title {
			font-size: 1em;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-message-boards .header-title {
		@include hyphenation;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-blogs .entry-body, .portlet-journal-content .journal-content-article, .portlet-message-boards .thread-body {
		word-wrap: break-word;
	}

	.edit-actions {
		list-style: none;
		margin-left: 0;
		margin-right: 0;

		li {
			float: left;
			margin-right: 10px;
		}
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		text-align: right;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;

		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);

			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}

	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				@include box-shadow(none);
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;

		.portlet-actions {
			@include box-shadow(inset 2px 1px 2px #000);
		}

		.portlet-title-default {
			@include box-shadow(inset -2px 1px 2px #000);
		}
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart, $dockbarGradientEnd));
			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}
	

}
/* ---------- homepage categories button ---------- */
#wrapper
{
	padding-left:10%;
	padding-right:10%;
}
.categoriesbutton {
    background-color: black !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 32px !important;
    width: 197px !important;
}
.myaccountbutton{
    background-color:#ec4d25;
     border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 37px !important;
    margin-top: 26px !important;
    width: 130px !important;
}

#mycart {
    color: white;
    margin-left: 23px;
    margin-top: 32px;
    background-color:#000;
    border-radius:50%;
    padding: 2px 8px;
}
#myCartChild {
    background: white none repeat scroll 0 0;
    border-radius: 4px;
    padding: 22px;
    position: absolute;
    width: auto;
    z-index: 9999;
    border:1px solid black;
    
}
#navigate
{
	font-family:myfont;
}

/* ---------- home page search box ---------- */
#_search_WAR_esquareecommerceportlet_INSTANCE_1000_productName{
	border: 1px solid #e1e1e1 !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.075) inset;
    color: black !important;
    font-family: myfont !important;
    font-size: 16px !important;
    height: 28px !important;
    margin-bottom: 0 !important;
   width:278px !important;
   
}
#detail_pro_added_to_wishlist {
   background:#ec4d25;
    color: #fff;
    font-family: myfont;
    width:100px;
    height: 38px;
    padding: 5px;
    font-size:medium;
   
}
 #detail_pro_added_to_wishlist:hover{
 background-color: #EC4D25 !important;
 }
 #carticondetail{
 	margin-left: -4px;
 }
 .liststyle{
	font-family: arial;
    font-size: 12px;
    list-style: outside none none;
	}
.hellouser{
	color:black;
	font-family: arial !important;
    font-size: 12px;;
}
#eec-homesearchbut
{
	margin-left:10%;
}

#_coupon_WAR_esquareecommerceportlet_startDate,#_coupon_WAR_esquareecommerceportlet_endDate{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 230px center;
}
#_coupon_WAR_esquareecommerceportlet_startDateTime,#_coupon_WAR_esquareecommerceportlet_endDateTime{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/time.png") no-repeat scroll 84px center;
	width: 100px;
	 margin-left: 5px;
}
#_myprofile_WAR_esquareecommerceportlet_birthday{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 230px center;
}
/*  #_myprofile_WAR_esquareecommerceportlet_emailAddress,#_myprofile_WAR_esquareecommerceportlet_zip{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/email.png") no-repeat scroll 230px center;
} 
 #_myprofile_WAR_esquareecommerceportlet_mobile,#_myprofile_WAR_esquareecommerceportlet_phone{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/phone.png") no-repeat scroll 230px center;
} 
 #_myprofile_WAR_esquareecommerceportlet_skypeSn{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/skype.png") no-repeat scroll 230px center;
} 
 #_myprofile_WAR_esquareecommerceportlet_city{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/city.png") no-repeat scroll 230px center;
} 
 #_myprofile_WAR_esquareecommerceportlet_street{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/street.png") no-repeat scroll 230px center;
} 
 #_myprofile_WAR_esquareecommerceportlet_db-pfirstname,#_myprofile_WAR_esquareecommerceportlet_db-plastname{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/name.png") no-repeat scroll 230px center;
} 
#_myprofile_WAR_esquareecommerceportlet_password1,#_myprofile_WAR_esquareecommerceportlet_password2{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/password.png") no-repeat scroll 230px center;
} */

.dashboard-maindiv, .aui .accordion-group .toggler-content-expanded
{
	border:none;
}
/* ---------- Input Text Area & Text Style ---------- */
.aui input[type="text"],.aui input[type="password"]{
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.075) inset !important;
	border-radius: 2px !important;
	border: 1px solid #ddd !important;
    height: 30px;
    width: 250px;
    font-family: myfont;
    font-size: large;
}
.aui select{
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.075) inset !important;
	border-radius: 2px !important;
	border: 1px solid #ddd !important;
	height: 39px;
    width: 265px;
}
.aui textarea {
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset !important;
    height: 140px;
    width: 250px !important;
}
#order
{
	display:none;
}

#orders
{
	margin-top:2%;
	color:#818181;
	
	
}
#search
{
background-image: url("/basic-b2c-theme/css/../images/eec/buttonbg.png");
    color: #fff;
    font-family: myfont;
    font-size: medium;
    height: 41px !important;
    padding: 5px;
    width: 90px !important;
    margin:-1px 0px 0px 0px !important;
}
#savebutton
{
background:#800000;
width:100px;
height:40px;
margin-top:3%;
}


#db-personaldetails-headerid
{
margin-top:30px !important;
}

#savebutton:hover
{
	background:#993300 !important;
}
#savebutton:visited
{
	background:#cc4400 !important;
}

/* ---------- Ratings style ---------- */

.taglib-ratings.stars
{
	color:#000 !important;
	font-size:larger !important;
	padding-left:37% !important;
	
	text-align:center;
}
.taglib-ratings .rating-content
{
	padding-left:13px;
}
.aui .icon-star::before
{
	color:#ec4d25 !important;
	padding-top:4px !important;
}
.aui .icon-star-empty::before
{
	color:#ec4d25 !important;
	padding-top:4px !important;
}
 
    /* comments design */
.taglib-discussion .lfr-discussion {
    border: 1px solid #ddd !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset !important;
    margin-left: 16.7% !important;
    margin-right: 17.2%;
    
}
.lfr-textarea, .form .fieldset .lfr-textarea-container textarea {
   /*  background: rgba(0, 0, 0, 0)  scroll 820px center;
    margin-left: 16.7%;
    margin-right: 17.2%; */
    min-width: 800px;
}

.aui .icon-thumbs-up::before {
    color: #fe0002;
    font-size: 16px;
}

.aui .icon-thumbs-down::before {
    color: #000;
    font-size: 16px;
}

.button-holder .btn.btn-comment{
background: #ec4d25 none repeat scroll 0 0 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 40px !important;
    width: 120px !important;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
.button-holder .btn.btn-comment:hover{
	background: #ff8533 !important;
}

 .taglib-discussion .lfr-discussion-form-container .lfr-discussion-form {
    background: white none repeat scroll 0 0;
    border-radius: 0;
}

.add-comment .button-holder{
	text-align: center;
}
.add-comment{
    font-family: arial;
    
    text-align: center;
}

.taglib-discussion .lfr-discussion-message {
    color: gray;
    font-size: 12px;
    padding-bottom: 1em;
    padding-right: 10%;
    text-align: justify;
    word-break: break-all;
    min-height: 40px;
}

.taglib-user-display.display-style-2 .user-profile-image, .taglib-user-display.display-style-2 .user-name {
    clear: both;
    color: black;
    display: block;
    font-family: centurygothic;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
}

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-details .user-name, .taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image {

    text-align: left;
}
.taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image img {
    width: 75px;
}
.taglib-discussion .lfr-discussion-posted-on {
    background: #ec4d25 none repeat scroll 0 0;
    color: white;
    font-family: centurygothic;
    font-size: 12px;
    margin-right: 6px;
    margin-top: 8px;
    padding: 2px 12px;
}



      
      /* Wallet Page */
#liferaytabs .nav-tabs
 {
  background-color:#d9d9d9;
  border:1px solid #cacac9;
  width:102%;
  margin-left:-12px;
  margin-top:-1%;
  border-radius:5px;
 }
      
 #liferaytabs  .nav-tabs > li
{
	margin-bottom:0px !important;
	background-color:#d9d9d9;
	
}
#liferaytabs .tab.active
{
	padding-top:0px !important;
	
}
#liferaytabs  .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus
{
	background:#000 !important;
	margin-left:3px;
	color:#fff !important;
} 
#liferaytabs .nav-tabs > li > a
{
	border-radius:0px !important;
	color:#000 !important;
	height:19px;
	
}
#liferaytabs .tab > a
{
	background-color:#d9d9d9;
}


#liferaytabs .alert.alert-info
{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #000;
    font-weight: bold;
    height: 120px;
    text-align: center;
}
.mywalletBaldiv
{
	border:1px solid #cacac9;
	border-radius:6px;
	padding:2%;
	width:50%;
	box-shadow:1px 0 1px 0px #d9d9d9;
}

#eec-homepageproheader
{
	
	font-family:centurygothic;
	color:#ec4d25;
}


#detail_pro_added_to_wishlist:hover{
background:#ff8533 !important;
}
#walletuser
{

height:150px;
margin-bottom:5%;

}
#wallet
{
background:#ec4d25 !important;
border-radius:0px !important;
margin-top:2%;
margin-left:31%;
box-shadow:2px 2px 5px #818181;
}
#wallet:hover
{
background:#ff8533 !important;
}
.newlaunchheading
{
	margin:auto;
}
/* #liferaytabs #headerline
{
	background-image:url("../images/eec/billborder.png");
	background-repeat:no-repeat;
	height:16px;
	margin-top:-1%;
}  */


/* order Confirmation page */
.orderholepage
{
	height:200px;
}
.header
{
	color: #000 !important;
    font-family: helveticaneue !important;
}
.thankyou
{
	color:#818181;
	font-family:myfont;
	font-size:large;
	margin-bottom:10px;
}
.ordermessages
{
	color:#818181;
}
.orderid
{
	color:#ec4d25;
}
.amountpaid
{
	font-family:myfont;
	font-size:large;
	color:#ec4d25;
	
}
           /* orderpage alignment */


#order1
{
	display:none;
}

.ordersearch #search
{
margin-top:-8px !important;
height:40px !important;
border-radius:3px;
}
.ordersearch #search:hover
{
background:#ff8533;
}
#ordertrackingheader .nav-tabs > li
{
margin-bottom:0px !important;
background-color:#d9d9d9 !important;
}
#ordertrackingheader .nav-tabs > li > a
{
border-radius:0px !important;
text-align:center;
background-color:#d9d9d9;
color:#000;
}

.ordersearchcontainer .alert.alert-info
{
	color:#000;
	background:none;
	border:none;
	font-weight:bold;
	text-align:center;
	height:40px;
}

#ordertrackingheader  .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus
{
background-color:#000 !important;
color:#fff !important;
height:19px;
margin-left:1%;
}
#ordertrackingheader .tab.active
{
	padding-top:0px !important;
}
#ordertrackingheader #eec-homepageproheader
{

color:#ec4d25 !important;
margin-top:-1%;
}

#ordertrackingheader .table .table-sort-liner a
{

text-decoration:none !important;
}
#ordertrackingheader .nav.nav-tabs
{
	padding-left:0px !important;
	border:1px solid #cacac9;
	background-color:#d9d9d9;
	border-radius:5px;
	
}
#ordertrackingheader .alert.alert-info
{
	background:none;
	border:none;
	color:#ec4d25;
	text-align:center;
	font-weight:bold;
	height:60px;
	margin-top:2%;
}

.ordersubmit
 {
 background:#ec4d25 !important;
 color:#fff !important;
 font-family:myfont !important;
 width:120px;
 }
 .ordersubmit:hover
 {
 background:#ff8533 !important;
 }
/* #tracking #headerline
{
	background-image:url("../images/eec/billborder.png");
	background-repeat:no-repeat;
	height:16px;
	margin-top:-1%;
} */
#tracking ul,#ordertrackingheader ul
{
	margin-left:auto !important;
}



/* payment option page */
.codbutton
{
	background-color:#ec4d25 !important;
	color:#fff !important;
	font-family:myfont !important;
	font-size:medium !important;
	border:none !important;
	padding:8px;
	width:110px !important;
}
.ebsbutton
{
	background-color:#ec4d25;
	color:#fff !important;
	font-family:myfont !important;
	font-size:medium !important;
	border:none !important;
	padding:8px;
	width:110px !important;
	margin-top:65% !important;
}
.verify
{
	display:none;
}
#etabs
{
	top:20% !important;
}
#recaptcha_area
{
	margin-top:15%;
	margin-left:33%;
}
#ebsimage
{
	margin-top:22% !important;
}


   
   
   
         /* myprofile page */

.aui .accordion-toggle{
	
color:orange;
margin-left:3%;
}
#db-personaldetails,#db-addressdetails
{
	width:93% !important;
	padding:3% 0%;
}
#db-addimage
{
	background-color:#d9d9d9;
	padding-top:24px !important;
	padding-bottom:24px !important;
	border-radius:10px;
	width:65% !important;
}
#db-addimage .field
{
	padding:5px;
	background-color:#fff;
}


 
            /* login.jsp */
#loginbutton
{
	background-color:#ec4d25 !important;
	border: 0 none !important;
    color: white !important;
    display: inline-block;
    font-family: myfont !important;
    font-size: medium !important;
    padding: 10px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    width: 110px !important;
    margin-top: 0px; 
    margin-bottom: 0px;
    
}

 #loginbutton:hover
 {
 background:#ff8533 !important;
 cursor:pointer;
 }
 
 .aui .modal-header
 {
 padding:20px !important;
 text-align:center;
 
 }
 
  #_login_WAR_esquareecommerceportlet_login{
	  border-radius: 3px !important;
    box-shadow: 1px 1px 0 2px #ddd;
    font-family: myfont;
    font-size: medium;
    height: 35px;
    margin-left: 0;
    
    width: 250px;
    background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/email.png") no-repeat scroll 230px center;
    
}

 #_login_WAR_esquareecommerceportlet_password{
    background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/password.png") no-repeat scroll 230px center;
    border-radius: 3px !important;
    box-shadow: 1px 1px 0 2px #ddd;
    font-family: myfont;
    font-size: medium;
    height: 35px;
    margin-left: 0;
    width: 250px;
    }
   
   /* end of login.jsp */
   
   
   /* create account */
   #createaccountbutton{
  background-color: #ec4d25 !important;
    border: 0 none !important;
    color: white !important;
    display: inline-block;
    font-family: helvetica !important;
    font-size: small !important;
    padding: 8px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    width: 122px !important;
    border-radius:2px;
}

#createaccountbutton:hover{
background-color: #ff8533 !important;
 cursor: pointer;
 }
#Existing{
 	background: #ec4d25 !important;
    border: 0 none !important;
    color: white !important;
    display: inline-block;
    font-family: helvetica !important;
    font-size: small !important;
    padding: 8px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    width: 110px !important;
 }
  #Existing:hover{
 background-color: #ff8533 !important;
 cursor: pointer;
 }
   
   
   /* WishList Page */
   
 #eecart-emptymsg
 {
 margin-left:10% !important;
 margin-top:2%;
 color:#818181;
 } 
 #continueshoping
 {
 background:#ec4d25 !important;
 color:white;
 font-family:myfont;
 font-size:medium;
 margin-left:10%;
 padding:6px;
 }
 .orderheading {
    color: #ec4d25;
    font-family: centurygothic;
    font-size: large;
}
 
 
       /* view_order.jsp */
.minalign {
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    min-width: 120px;
}
.backorder{
	float: right; 
	text-decoration: none;
	
	font-family: arial;
	color:#000 !important;
}
#ddd{
  background: #ec4d25 none repeat scroll 0 0 !important;
    border: 0 none !important;
    
    color: white !important;
    display: inline-block;
    font-family: myfont !important;
    font-size: medium !important;
    min-width: 134px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    padding-bottom: 9px;
    padding-top: 9px;
}

#ddd:hover{
 background: #ff8533 !important;
}


/* billing details */
#billing_maintab2
{
	width:255px !important;
}
 
 
 /* ----------compare product ---------- */
#comparebuy{
     background: rgba(0, 0, 0, 0) url("/basic-b2c-theme/css/../images/eec/cart/ecart-add_to_cart.png") no-repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: myfont;
    font-size: medium;
    width:132px;
    padding: 10px 10px;
}

#comparebuy:hover {
    text-decoration: none;
}
.compareRs {
    color: #390;
    font-family: myfont;
    font-size: medium;
    font-weight: bold;
    height: 23px;
    padding-top: 5px;
}
.comparestock {
    font-size: medium;
}
.eec_compare_title {
     background: rgb(245,245,245) none repeat scroll 0 0;
    color: #333333;
    font-family: centurygothic;
    font-size: large;
    font-weight: normal;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.key {
    background: rgb(245,245,245) none repeat scroll 0 0;
    color: #1a1a1a;
    font-family: arial;
    font-size: small;
    font-weight: normal;
    text-align: center;
     max-width: 50px;
}
.compontent {
    color: #595959;
    font-family: arial;
    font-size: 12px;
    padding: 20px;
    text-align: justify;
    max-width: 100px;
}

.compontent a:hover {
    text-decoration: none;
}
#eec_compare_table , #eec_compare_table td , .afix td {
border:1px solid #ddd;
}
#eeccaart-comaprebutton:HOVER {
    cursor: auto;
    background-color: transparent;
}

.compare-view {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}
.comparebutton{
background-color: rgb(239,102,67) !important;
    border: 1px dotted #ddd;
    color: white !important;
    font-family: myfont !important;
    font-size: small !important;
    height: 30px !important;
    width: 85px !important;
    }
    .compareshop {
    background: rgb(236,77,37) none repeat scroll 0 0;
    color: white !important;
    display: block;
    height: 25px;
    padding: 12px 10px 10px;
    text-align: center;
    width: 115px;
}


.general-features  {
    text-align:center;
}
.myAccountMainDiv, .my-account {
    float:right;
}
@media screen and (max-width: 960px){
.key {
    max-width:100%;
   
}
.compontent {
    max-width:100%;   
}   
.myAccountMainDiv, .my-account {
    float:none;
} 
#tracking #eec-homepageproheader,#liferaytabs  .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus,#eec-homesearchbut
{
	margin:auto !important;
} 
#wrapper
{
	padding-left:0%;
	padding-right:0%;
} 
}
  
@media screen and (max-width: 600px)
{
	#footer
	{
	margin-left:-19px !important;
	margin-right:-19px !important;
	}
	.myaccountbutton
	{
	margin-top:0px !important;
	margin-left:0px !important;
	}
	.myAccountMainDiv
	{
	margin-top:5px !important;
	}
	#mycart
	{
	margin-top:6px !important;
	margin-left:17px !important;
	}
	#category,.esq_separator,#tabtable1
	{
	display:none !important;
	}
	#order
	{
	mrgin-left:0px;
	padding-left:0px;
	}
	.ecart-headfontfam
	{
	margin-top:5px !important;
	}
	
	#viewimage
	{
	margin-top:-20px !important;
	}
	 #liferaytabs .nav-tabs
	 {
	 background:none !important;
	 border:none !important;
	 width:auto;
	 
	 }
	  #liferaytabs  .nav-tabs > li
	  {
	  background:none !important;
	  }
	  #db-addimage .field
	  {
	  background:none !important;
	  }
	  #savebutton
	  {
	  width:none !important;
	  }
	
	  #wallet,#eec-homesearchbut
	  {
	  margin:auto !important;
	  }
	  .mywalletBaldiv
	  {
	  width:auto;
	  }
	  /* ordertracking responsive */
	  #ordertrackingheader #eec-homepageproheader,#liferaytabs  .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus
	  {
	  margin:auto !important;
	  }
	  
	
}


/* Userview view.jsp */
.aui .custom-nav .nav > li > a:hover{

border-color:transparent;
}
.aui .custom-nav .nav-tabs > li > a > strong {display:none;}
.aui .custom-nav .nav-tabs > li > a {
	height:auto;
	width:33px;
	background: url('<%=themeDisplay.getPathThemeImages()+"/eec/gridview.png"%>') no-repeat scroll 0 0	transparent;
	font-size:0;
	padding-right:15px;
	
}
.aui .custom-nav .nav-tabs > li:first-child > a > strong {display:none;}

.aui .custom-nav .nav-tabs > li:first-child > a {
	height:auto;
	
	background: url('<%=themeDisplay.getPathThemeImages()+"/eec/listview.png"%>') no-repeat scroll 0 0	transparent;
	font-size:0;
	position: relative;
}



.aui .custom-nav .nav-tabs > .active > a, .aui .custom-nav .nav-tabs > .active > a:hover, .aui .custom-nav .nav-tabs > .active > a:focus {
 box-shadow: none;
 border:none;
 background-color:transparent;
}

.aui .custom-nav .nav-tabs > .active > a{
position:relative;
top:0px;
}

.aui .custom-nav .nav-tabs li {
float:right;
  width:50px; 
  padding-top:0px;
  padding-bottom:8px; 
}

 .aui .custom-nav .tab a {
min-width:15px;
} 

.aui .custom-nav .nav-tabs > li > a {

  margin-right: 0;
    padding-left: 2px;
    padding-right: 2px;
}
.aui .custom-nav .nav-tabs {
    border-bottom: none;
}
.aui .custom-nav .nav {
  
    margin-bottom: 1px;
}

/* ----------compare product ---------- */
#comparebuy{
	 background: rgba(0, 0, 0, 0) url("/basic-b2c-theme/css/../images/eec/cart/ecart-add_to_cart.png") no-repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: myfont;
    font-size: medium;
    width:132px;
    padding: 10px 10px;
}

#comparebuy:hover {
	text-decoration: none;
}
.compareRs {
    color: #390;
    font-family: myfont;
    font-size: medium;
    font-weight: bold;
    height: 23px;
    padding-top: 5px;
}
.comparestock {
    font-size: medium;
}
.eec_compare_title {
 	background: rgb(245,245,245) none repeat scroll 0 0;
    color: #333333;
    font-family: centurygothic;
    font-size: large;
    font-weight: normal;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.key {
	background: rgb(245,245,245) none repeat scroll 0 0;
    color: #1a1a1a;
    font-family: arial;
    font-size: small;
    font-weight: normal;
    text-align: center;
     max-width: 50px;
}
.compontent {
    color: #595959;
    font-family: arial;
    font-size: 12px;
    padding: 20px;
    text-align: justify;
    max-width: 100px;
}

.compontent a:hover {
	text-decoration: none;
}
#eec_compare_table , #eec_compare_table td , .afix td {
border:1px solid #ddd;
}
#eeccaart-comaprebutton:HOVER {
	cursor: auto;
	background-color: transparent;
}

.compare-view {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}
.comparebutton{
background-color: rgb(239,102,67) !important;
    border: 1px dotted #ddd;
    color: white !important;
    font-family: myfont !important;
    font-size: small !important;
    height: 30px !important;
    width: 85px !important;
    }
    .compareshop {
    background: rgb(236,77,37) none repeat scroll 0 0;
    color: white !important;
    display: block;
    height: 25px;
    padding: 12px 10px 10px;
    text-align: center;
    width: 115px;
}


.general-features  {
	text-align:center;
}
.myAccountMainDiv, .my-account {
	float:right;
}

.aui .liststyle {
	margin-left:0px;
}
.aui .liststyle li a {
	color:black;
	list-style-type:none;
}
.aui .liststyle li a:hover {
	text-decoration: none;
}
@media screen and (max-width: 960px){
.key {
	max-width:100%;
	
}
.compontent {
	max-width:100%;	
}	
.myAccountMainDiv, .my-account {
	float:none;
}	
}