
#viewallimage {
	background: url(../images/eec/viewall.png) no-repeat scroll 0 0
		transparent;
	float: right;
	height: 25px;
	width: 30px;
	margin-top: -5px;
}

#headerTitle{
    color: #ed4e27;
    font-family: open sans;
    font-size: 20px;
    font-weight: bold;
    
}


.home-gridclass {
    display: inline-table;
}
#hompage-gridlist {
	list-style: none;
	width: 24.2%;
	vertical-align: bottom;
	
}

#discount {
    color: white;
    font-size: 12px;
    font-weight: 900;
    margin-left: 34px;
    vertical-align: super;
    position: relative;
    top: 23px;
 }
 
.discount_class {
	background: url(../images/eec/discount.png) no-repeat scroll 0 0
		transparent;
	height: 68px;
	margin-top: -22px;
}


/* ========================= Navigation Start ===================================== */

.aui #navigation .navbar-inner {
   background-image:url("../images/eec/buttonbg.png");
   border-width: 0;
   height: 32px;
    min-height: 30px !important;
}

#navigation li {
	 border-right: 1px solid white;
    height: 31px;
}

.aui #navigation .nav > li:last-child {
	border-right:none;
}

 .aui #navigation .nav li.open > a, .aui #navigation .nav li.active > a{
	background: #DC381F;
}

.aui #navigation .nav .dropdown-menu {
    background:#EC4D25;
    border-width: 0;
    margin: 0;
   min-width: 99%;
}

.aui #navigation .nav .dropdown-menu a:hover{
	background: #DC381F;
	text-decoration: none;
	max-width: 224px;
	min-width:124px;
}


.aui #navigation .nav .dropdown-menu li a{
	max-width: 224px;
	min-width:124px;
}

/* ========================= Navigation End ===================================== */

/* #headerline {
	background: url(../images/eec/header_line.png) no-repeat scroll 0 0 transparent;
	height: 50px;
} */


.new_launch_class {
	height: 90px;
	margin-left: -14px;
	background: url(../images/eec/new_launch.png) no-repeat scroll 0 0
		transparent;
}

#eec-homcartdetail {
    border-color: #d3d3d3;
    border-style: solid;
    border-width: 1px 0 0;
    
}

#carticon {
	background: url(../images/eec/carticon1.png) no-repeat scroll 0 0 transparent;
	height: 42px;
    width: 39px;
}


#carticondetail{
background: url(../images/eec/cart1.png) no-repeat scroll 0 0 transparent;
height: 42px;
width: 72px;
}

/* ========================= My profile ===================================== */

#myprofileMaindiv{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.dashboard-headingstyle {
    color: #a72a30;
    font-family: icon;
    font-size: 22px;
    margin-left: 39px;
    margin-top: 16px;
}

#db-personaldetails {
    border: 1px solid #c3d0e1;
    height: auto;
    margin-bottom: 35px;
    margin-top: 25px;
    margin-left: auto;
     margin-right: auto;
    width: 95.5%;
}

#db-addressdetails {
    border: 1px solid #c3d0e1;
    height: auto;
    margin-bottom: 35px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 95.5%;
}


.dashboard-pagemainheading100 {
    background: url("../images/eec/box-title.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-width: 1px;
    color: #012e69;
    font-family: icon;
    font-size: 18px;
    height: 31px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 3px;
}

.dashboard-maindiv {
    border: 1px solid #c3d0e1;
    margin-top: 0;
    width: 100%;
}

.esq_separator {
    border: 1px solid #ae1726;
    margin-left: 34px;
    margin-top: 6px;
    width: 93%;
}

#db-addimage {
    border: 1px solid #c3d0e1;
    height: auto;
    margin-left: auto;
     margin-right: auto;
    margin-top: 25px;
    padding-bottom: 30px;
    padding-top: 10px;
     width: 80%;
}

#db-personaldetails .span6.text-left {
    position: relative;
    left: 10px;
    top: 10px;
}

#db-addimage .span12.text-left {
    position: relative;
    left: 10px;
    top: 10px;
}

#db-addressdetails .span6.text-left {
    position: relative;
    left: 10px;
    top: 10px;
}