.dash-table1 {
  border: 1px solid #C3D0E1;
  width: 100%;
  background-color: #FFFFFF; }

.dash-table1.heightrow1 {
  height: 250px; }

.dash-table1.heightrow2 {
  height: 235px; }

.dash-table1.heightrow3 {
  height: 160px; }

.dash-table1.heightrow4 {
  height: 180px; }

.dash-table1.heightrow5 {
  height: 300px; }

.row4-rowheight {
  height: 35px; }

.row4-tablewidth {
  width: 100%; }

.row4-divheight {
  height: 143px; }

#row5-divheight {
  height: 267px; }

#dash-tablerowthree {
  color: #968F89;
  font-size: 20px;
  font-weight: bold;
  padding-right: 23px;
  text-align: right;
  width: 100%;
  margin-left: -20px;
  margin-bottom: 15px; }

.dash-row3 {
  font-weight: normal;
  color: #808080;
  font-size: 15px;
  line-height: 9px; }

.dash-total {
  font-size: 14px;
  margin-top: -18px;
  width: 55px;
  float: right;
  color: #A76453;
  font-weight: bold; }

#dash-oddeven tr:nth-child(odd) {
  background-color: #F5F4F2; }

.dash-pay-stock {
  color: #012E69;
  font-family: "Myriad Pro", arial, helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-left: 13px; }

#dash-saleperzero {
  background-color: #D02D3E;
  color: #FFFFFF;
  float: right;
  margin-right: 10px;
  text-align: center;
  width: 48px; }

#dash-salepert {
  float: right;
  background-color: #88A60A;
  color: #FFFFFF; }

.dash-totaluserzero {
  width: 90%;
  height: 150px; }

.dash-totaluser {
  width: 90%;
  height: 200px; }

.dash-totalorder-sale-invoice {
  font-size: 28px;
  float: right;
  color: #88A60A;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 20px;
  text-align: right; }

.dash-titlebackgroundcolor {
  background-color: #9EADC0;
  height: 35px; }

.dash-titlecolor {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 9px;
  padding-left: 14px; }

.dash-boxheader {
  border-bottom: 1px solid #D3D3D3;
  height: 33px;
  text-align: left;
  color: #012E69;
  padding-left: 10px;
  font-size: 15px;
  background: url(../../../../images/eec/common/dashboard/box-title.gif) repeat-x 0 0;
  font-family: "Myriad Pro", arial, helvetica, sans-serif; }

#dash-saletoday {
  font-size: 40px;
  float: right;
  color: #5A9EC1;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 17px; }

#dash-saletodaytotal {
  font-size: 21px;
  width: 80px;
  float: right;
  color: #DF3349;
  font-weight: bold;
  margin-top: -40px; }

.dash-sevendayorder {
  width: 100%;
  height: 200px; }

#dashboard-breadcrum {
  border: 1px solid #D3D3D3;
  height: 35px;
  background: #FFFFFF;
  color: #416F93; }

