@CHARSET "ISO-8859-1";



li .actions{
margin-right: 20px;
}
#sitemap li{
    font-size: 12px;
    font-weight: bold;
    }
    
#sitemap li a {
    color: highlight;
    text-decoration: none;
}

#sitemap li span, #sitemap li span.collapsed {
    margin-left: 18px;
    margin-top: 8px;
    height: 40px;
}
#sitemap li span, #sitemap li span.collapsed {
    background: url(../../../../images/eec/common/catalog/arrows.png) no-repeat scroll 0 0 transparent;
    margin-left: 32px;
}


#sitemap li span.expanded {
    background: url(../../../../images/eec/common/catalog/arrows.png) no-repeat scroll -16px 5%  transparent;
}

#sitemap li {
    line-height: 40px;
    margin-top: 4px;
    background: none repeat scroll 0 0 #f9f9f9;
    border-radius: 6px 6px 6px 6px;
  }
  

#sitemap li a {
    color: #444444;
    font-family: arial;
    font-size: 12px;
}
.catalogname {
    color: black;
    font-family: centurygothic;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0 !important;
    padding-left: 18px !important;
    padding-top: 0 !important;
}
#sitemap1 li a  {
     color: #1A1A1A;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
}
.sidebarmenu.actions a{
 font-weight: normal;
} 
.ecartaddbutton {
    background-color: #ffc107;
    border: 0 none;
    color: white;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px;
    margin-bottom: 18px !important;
    margin-left: 17px !important;
    min-width: 125px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
.ecartaddbutton:hover{
background-color: #CDDC39;
}
.ecartselectbutton{
	background-color: #ffc107;
    border: 0 none;
    color: white;
    font-family: myfont !important;
    font-size: medium !important;
    height: 38px;
	min-width: 125px;
	transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
} 
.ecartselectbutton:hover{
background-color: #CDDC39;
}
.selectcatalog{
	border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 25px;
    padding-top: 20px;
}