.main {
  width: 299px; }

.sidebarmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: 12px tahoma;
  width: 180px;
  /* Main Menu Item widths */
  position: absolute;
  z-index: 4; }

/*  
.sidebarmenu ul li{
position: relative;
height: 30px;
width: 299px;
border-bottom: 1px dashed black;


} */
.sidebarmenu ul li a {
  display: block;
  overflow: visible;
  /*force hasLayout in IE7 */
  color: black;
  text-decoration: none;
  padding-left: 12px;
  font-family: trebuchet MS; }

.sidebarmenu ul li a:visited {
  color: black; }

/* .sidebarmenu ul li ul{
position: absolute;
width: 170px; Sub Menu Items width
top: 0;
visibility: hidden;
} */
/* Holly Hack for IE \*/
* html .sidebarmenu ul li {
  float: left;
  height: 1%; }

* html .sidebarmenu ul li a {
  height: 1%; }

/* End */
/* .sidebarmenu ul li a:hover{
text-decoration: underline;
}
 */

