#page4hr {
	background-image: url(/html/myfolder/slidertemp/images/page4hr.png); 
	
	background-position:center center;
    height: 26px; 
    background-repeat: no-repeat;
   /*  background-size: 260px 35px; */
    position: relative;
    top: 7px;
}