
#pagetwotitle{
width:100%;
position: relative;
top:0px;
text-align:center;
/* font-size:48px; */
font-size:40px;
font-family:'Century';
line-height: 0.9;
color:#080809;
}
#pagetwosubtitle {
	font-color:#080809;
	font-family:'Open Sans';
	font-size:22px;
	position:relative;
	top:-15px;
	
}

#carthr {
	background-image: url(/html/myfolder/slidertemp/images/carthr.png);
	background-position:center center;
    height: 26px; 
    background-repeat: no-repeat;
    background-size: 260px 35px;
}

#pricelist{
text-align:center;
width:100%;
}

#pagetwofoot {
	background-image: url(/html/myfolder/slidertemp/images/mid-bg.png);
	/* height:321px; */
}

#pagetwofoot1{
width:100%;
color:#080809;
text-align:center;
font-size:24px;
font-family:'Open Sans';
padding-top: 35px;
}

#pagetwofoot2{
	
width:100%;
color:#b25b2f;
text-align:center;
font-size:20px;
font-family:'Open Sans';
padding-top: 5px;
padding-bottom: 20px;
}

/* ============================= Page Three CSS ================================= */

#pagethreetitle{
width:100%;
text-align:center;
font-size:48px;
font-family:'Century';
line-height: 0.9;
 /* margin-top:-120px;  */
}

#pagethreesubtitle {
	font-size:22px;
	position:relative;
	top:-15px;
	font-family:'Open Sans';
	}

#pagethreecontent{
font-size:20px;
font-family:'Open Sans';
position:relative;
 top:-15px;
	}