@charset "utf-8";
/* CSS Document */
@font-face {
	font-family:'Arial Rounded MT bold';
	src: url('/html/myfolder/mainslide/css/fonts/616.ttf');
}

@font-face {
	font-family:'Calibrii';
	src: url('/html/myfolder/mainslide/css/fonts/CALIBRII.TTF');
}

@font-face {
	font-family:'Century';
	src: url('/html/myfolder/mainslide/css/fonts/century-normal-48123.ttf');
}

html,body {
	font-family: 'Jkoch';
	width: 100%;
	height: 100%;
}

#navback {
	background-image: url(/html/myfolder/slidertemp/images/nav-bg.png);	
}


#navAlign{
position:relative;
left:0px;
top:-58px;
}
.navigation {
	/* display: inline-flex; */
	-webkit-display:inline-block;
	top: 0px;
	background-image: url(/html/myfolder/slidertemp/images/navigation.png); 
	
	 width: 90%; 
	height: 61px;
	z-index: 99;
	font-family:'Open Sans';
	font-size: 22px;
	position:relative;
 left:70px; 
}

.navigation li {
	color: #ffffff;
	/* display: block; */
	padding: 0 10px;
	line-height: 30px;
	margin-bottom: 2px;
	-webkit-transition: all .2s ease-in-out;
	text-align: left;
	 width: 200px;
	height: 55px; 
	
	text-align: center;
	margin: 0 auto;
	position:relative;
    left:156px;
}

.navigation li:hover,.active {
	cursor: pointer;
	background:#E67647;
}

ul li {
	display: inline-block;
}

.slide {
	
	width: 100%;
	
	position: relative;
	}

/* .wrapper {
	width: 100%;
	 position: relative;
	top: 120px;
	height: 200px; 
	margin: 0 auto;
	
} */

.slideno {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 100px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.3);
}

.buttons {
	display: block;
	width: 35px; 
	height: 35px;
	position: absolute;
	bottom: 0px;
	left: 92%;
	/* background-color:#333333; */
	background-image: url(/html/myfolder/slidertemp/images/top-1.png);
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-o-background-size: 100% 100%;
}

.buttons:hover {
	
	cursor: pointer;
}

#slide1 {
	background-color: #FFFFFF;
	/* height: 499px; */
	height:613px;
}

#slide2 {
	background-color: #FFFFFF;
	/* height: 1081px; */
	height:auto;
	padding-top: 63px;
}

#slide3 {
	background-color: #FFFFFF;
	/* height: 910px; */
	height:auto;
}

#slide4 {
	background:#252525;
	/* background-image: url(/html/myfolder/slidertemp/images/footerbg.png); */
	 height: 600px; 
	 margin-top: 15px;
	
}

/* ======================================= First Page CSS ======================== */
#pageonetitle{
width: 100%;
color:#b25b2f;
text-align:center;
font-size:42px;
top: 50px; 
position: relative;
font-family:'Century';
/* line-height:1.2; */
}

#firstpage{
position:relative;
width:100%;
color:#080809;
 
 top:90px;
}

.pageoneimage{
	width:34%;
	float:left; 
	position:relative;
	left:225px;
	padding-top: 30px;
}
.pageonecontent1{
	position:relative;
	left:10px;
	vertical-align: top;
	font-size:20px;
	color: #080809;
	font-family:'Open Sans';
}

.storecontent2{
 color: #3d3d3f;
 font-family:'Calibri';
 position: relative;
left: 56px;
 top: -22px;
 font-size:16px;
width: 72%;
 }
 #firstpagefooter{
 		   background-image: url(/html/myfolder/slidertemp/images/firstpagefooter.png);
	       width:100%;
	       clear: both;
	       height:311px;
	       position:relative;
	       top:165px;
	       }
	       
 #firstpagefootertitle{
 position:relative;
 font-family:'Open Sans';
 font-size:14px;
 font-weight:bold;
 color:#080809;
 top:-32px;
}

#firstpagefootercontent{
	
	position:relative;
	color:#3d3d3f;
	font-size:16px;
	font-family:'Calibri';
	top:-13px;
}


