/* .ecart-normfontfam {
	color: #4d4c4c;
	font-family: Open Sans;
	font-size: 13px;
	width: 100%;
} */

/* today css */

/*  #tabtable1 {
	height: 35px;
	width: 100%;
	border: 1px solid #B5C9DA;
	float: left;
	border-width: 0;
	height: 32px;
	margin-top: 2px;
} */
#tabtable1 {
	display: none;
}

.ecart-headfontfam {
	color: #45a5d5;
	font-family: centurygothic;
	font-size: medium;
}

/* .ecart-normfontfam {
	font-family: Open Sans;
	color :   #4d4c4c;
	font-size: 13px;
    width: 100%;
} */

/* #showDiv {
	
	text-decoration: none;
	color: #F17249;
	 width: 88%;
	 text-align: left;
	 font-weight:bold;
} */
/* .bill_border {
	background: url(../images/eec/billborder.png) no-repeat scroll 0 0
		transparent;
	width: 100%;
	height: 16px;
	margin-bottom: 20px;
} */

#etabs {
	margin: 0 0 0 7px;
	padding: 0;
	position: absolute;
	top: 75px;
}

.tab {
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	display: table-row;
	height: 60px;
}

.tab.active {
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	padding-top: 6px;
	position: static;
	top: 1px;
}

.tab a.active {
	background: none repeat scroll 0 0 #ec4d25;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.tab>a {
	background-color: #cacac9;
}

.tab a {
	border-radius: 8px 0 0 8px;
	display: block;
	line-height: 50px;
	outline: 0 none;
	padding: 0 10px;
	text-decoration: none;
	width: 132px;
}

#paypaltable {
	border: 1px solid #d3d3d3;
	height: 230px;
	margin-top: 8px;
	width: 525px;
}

#ebstable {
	border: 1px solid #d3d3d3;
	height: 230px;
	margin-right: 8px;
	margin-top: -35px;
	width: 530px;
}

#billing_tab1 {
	color: #EC4D25;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

#billing_maintab1 {
	background-image: url("../images/eec/payment/billingactive.jpg");
}

#billing_maintab2 {
	width: 257px;
	background-image: url("../images/eec/payment/orderinact.jpg");
}

#billing_maintab3 {
	width: 208px;
	background-image: url("../images/eec/payment/paymentintact.jpg");
}

#conf_maintab1 {
	width: 219px;
	background-image: url("../images/eec/payment/billinginact.jpg");
}

#conf_maintab2 {
	width: 270px;
	background-image: url("../images/eec/payment/orderactive.jpg");
}

#conf_maintab3 {
	width: 243px;
	background-image: url("../images/eec/payment/paymentintact.jpg");
}

#payment_maintab1 {
	background-image: url("../images/eec/payment/billinginact.jpg");
}

#payment_maintab2 {
	width: 255px;
	background-image: url("../images/eec/payment/ordercmp.jpg");
}

#payment_maintab3 {
	width: 242px;
	background-image: url("../images/eec/payment/paymentactive.jpg");
}

/* Detail page */
#ecart-addtocart {
	background: url("../images/eec/cart/ecart-add_to_cart.png") no-repeat
		scroll 0 0 rgba(0, 0, 0, 0);
	height: 33px;
	width: 170px;
}
#ecart-shopmore{
	background: url("../images/eec/cart/shopmore.png") no-repeat
		scroll 0 0 rgba(0, 0, 0, 0);
	height: 33px;
	width: 170px;
}
