@import "compass";

@import "mixins";

@import url(custom_common.css);

@import url(color_schemes/common.css);

@import url(color_schemes/dark.css);

@import url(color_schemes/light.css);

@import url(color_schemes/green.css);

@import url(color_schemes/black.css);

$dockbarGradientEnd: #1273C7;
$dockbarGradientStart: #118ADE;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;
/* body{
	background-image: url("../images/background.jpeg") !important;
} */
.lfr-pagination-delta-selector .btn-group .dropdown-toggle {
    background: white none repeat scroll 0 0 !important;
}
.btn-group.lfr-icon-menu.current-page-menu .dropdown-toggle{
	background: white none repeat scroll 0 0 !important;
	margin-left: 10px !important;
}
.btn-group.lfr-icon-menu .dropdown-toggle{
	 background: white none repeat scroll 0 0 !important;
    border: 1px solid #d3d3d3 !important;
    box-shadow: none !important;
}

.aui .btn-group.open .btn.dropdown-toggle {
    background: #45a5d5 none repeat scroll 0 0 !important;
    border: 1px solid #d3d3d3 !important;
    box-shadow: none !important;
    color: white !important;
}
@font-face {
	font-family: "myfont";
	src: url(../css/fonts/MYRIADPRO-COND.OTF)
}

@font-face {
	font-family: "centurygothic";
	src: url(../css/fonts/centurygothic.ttf)
}

@font-face {
	font-family: "HelveticaNeue";
	src: url(../css/fonts/HelveticaNeue.otf)
}

#ordersuccess {
    min-height: 150px;
    text-align: center;
}
#carticondetail:hover{
	opacity:0.7;
}
#listviewentire{
	 width: 88% !important;
}
#eec-login-id {
	text-align: right;
	margin-right: 20px;
}
#crtacctimg{
	padding-left: 16px;
    padding-right: 3px;
}
#loginimg{
	padding-right: 5px;
}
.aui .control-group {
	margin-bottom: 0 !important;
}

#p_p_id_mycart_WAR_esquareecommerceportlet_INSTANCE_1000_ {
	height: 0;
	width: 0;
}
.aui .liststyle{
	list-style:none ;
	margin-left:0px;
}

.aui .liststyle li a{
	color:black;
}

.aui .liststyle li a:hover {
	text-decoration: none;
	color:rgb(17,129,213);
	
}
#sidebarmenu1 {
    background: white none repeat scroll 0 0;
    border-color: #595959;
    border-style: solid;
    border-width: 2px 1px;
    box-shadow: 5px 5px 15px;
    padding-top: 12px;
    width: 116%;
    padding-bottom: 12px;
}

/* ----------navigation(categories button list show)---------- */

.sidebarmenu ul li a {
    color: black !important;
    display: block !important;
    font-family: helveticaneue !important;
    font-size: 13px !important;
    height: 27px !important;
    overflow: visible !important;
    padding-left: 20px !important;
    text-transform: uppercase !important;
}
.sidebarmenu ul li a:hover{
	color:#45a5d5 !important;
}
.thirdlist{
	background: #ffffff none repeat scroll 0 0;
    font-size: 13px;
    font-weight: normal;
    margin-left: -13px;
    text-transform: capitalize;
    width: 196px;
    min-height: 20px;
}
/* ----------breadcrumb Css for only for deepblue theme---------- */
.aui .lfr-hudcrumbs .breadcrumb li a, .aui .lfr-hudcrumbs .breadcrumb li span
	{
	color: white;
}

.aui .lfr-hudcrumbs .breadcrumb {
	background: #45a5d5 none repeat scroll 0 0 !important;
}

.aui #breadcrumbs {
	margin-bottom: 0 !important;
}

.aui .breadcrumb {
	background-color: white !important;
	border-bottom: 2px solid #0c6db5;
}

.filterheading {
	background: #45a5d5 none repeat scroll 0 0;
	color: white !important;
	font-family: myfont !important;
	font-size: medium !important;
	padding: 5px;
	text-align: center;
	 width: 96.4%;
}

.filtertext {
	font-family: helveticaneue;
    font-size: 12px;
}

#filterbox {
	border: 1px solid #bfbfbf !important;
	margin-left: 30% ;
	width: 65%;
	margin-top:35px;
}

@media (max-width:500px){
#filterbox {

    margin-left: 8% !important;
    margin-top: 0 !important;
    width: 83% !important;
}
}
.footerheading {
	color: white !important;
	font-family: myfont !important;
	font-size: 14px !important;
	font-weight: normal !important;
	padding-left: 25px;
}

#footerbelow {
	float: left;
	margin-left: 10px;
	color: #a6a6a6;
	font-family: arial;
	font-size: smaller;
}

#privacyterms {
	font-family: arial;
	font-size: smaller;
	margin-right: 20px;
}

#privacyterms a {
	color: #a6a6a6;
}

#privacyterms:hover {
	color: white !important;
}

.aui body {
	overflow-x: hidden;
}

.companyinfo {
	color: #a6a6a6 !important;
	font-family: arial;
	font-size: small;
}

.companyinfo:hover {
	color: white !important;
}

.aui #navigation .navbar-inner li a {
	color: black !important;
	font-family: myfont;
	font-size: medium;
	text-transform: capitalize;
}

.aui .container {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.aui .site-navigation {
	margin-bottom: 0 !important;
}

.aui .portlet-borderless-container {
	padding: 0;
}

/* ---------- Base styles ---------- */
.aui #navigation .navbar-inner li a {
	height: 22px;
}

.navbar-inner {
	height: 44px;
}

.aui { .separator { border-color:#BFBFBFtransparent#FFF;
	border-style: solid;
	border-width: 1px 0;
}

.site-title {
	a: hover{ 
			text-decoration: none;
}

.site-name {
	display: inline-block;
}

}
#skip-to-content:focus {
	clip: rect(auto, auto, auto, auto);
	margin-top: 35px;
	right: 5px;
	z-index: 200;
}

#sign-in {
	background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
	font-weight: bold;
	padding: 5px 5px 5px 25px;
	position: absolute;
	right: 0;
	top: -1.2em;
}

.redirected-to-message {
	margin-right: 10px; a { background : #ECFBFF;
	border: 1px solid #ADE5FA;
	color: #8D8D8D;
	padding: 5px;
}

}
	.site-navigation {
		margin-bottom: 6px;

		.lfr-nav-item {
			span, a {
				@include ellipsis;

				max-width: 300px;
			}
		}
	}

	.taglib-portal-message {
		margin-bottom: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 6px 10px;

						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;

			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));

			.nav {
				> li {
					background-color: $dockbarGradientStart;

					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					background-color: transparent;

					@include background-image(none);

					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							background: #5BBAE8;
						}

						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			margin-left: 0;
			padding: 0 20px 0 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			li {
				&.dropdown {
					> .dropdown-toggle {
						padding-right: 0;

						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						background-color: #A3A3A3;
						color: #FFF;
					}
				}

				&.active > a {
					background-color: $dockbarGradientStart;
				}
			}

			> li > a {
				padding: 4px 15px 5px;
			}

			.dropdown-menu {
				background: #00ACFF;
				border-width: 0;
				margin: 0;

				&:after, &:before {
					border-width: 0;
				}

				a {
					color: #FFF;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		.navbar-inner {
			background: #555;
			border-width: 0;
			min-height: 36px;

			li a {
				color: #FFF;
			}
		}
	}

	.modify-pages {
		.delete-tab {
			background: #555;
			border: 2px solid #FFF;
			color: #FFF;
			font-size: 16px;
			padding: 4px;
			right: -10px;
			top: 0;
			z-index: 300;
		}

		.lfr-nav-item .lfr-nav-child-toggle {
			padding: 10px;

			i {
				margin: 0;
			}

			@include respond-to(phone, tablet) {
				line-height: 1em;
				padding: 14px;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.drag-handle {
			background-color: rgba(255, 255, 255, 0.75);
			color: #009AE5;
		}
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		background-color: #FAFAFA;
	}

	#breadcrumbs {
		margin-bottom: 15px;

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
	}

	.portlet-topper {
		background: #D3D3D3;
		color: #FFF;
		padding: 0;

		.portlet-title {
			font-size: 1em;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-message-boards .header-title {
		@include hyphenation;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-blogs .entry-body, .portlet-journal-content .journal-content-article, .portlet-message-boards .thread-body {
		word-wrap: break-word;
	}

	.edit-actions {
		list-style: none;
		margin-left: 0;
		margin-right: 0;

		li {
			float: left;
			margin-right: 10px;
		}
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		text-align: right;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;

		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);

			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}

	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				@include box-shadow(none);
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;

		.portlet-actions {
			@include box-shadow(inset 2px 1px 2px #000);
		}

		.portlet-title-default {
			@include box-shadow(inset -2px 1px 2px #000);
		}
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart, $dockbarGradientEnd));
			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}
	

}
.categoriesbutton {
	background-color: #4dc48a !important;
	border: 0 none !important;
	color: white !important;
	font-family: myfont !important;
	font-size: medium !important;
	height: 34px !important;
	width: 231px !important;
}

.myaccountbutton {
	background-color: #45a5d5 !important;
	border: 0 none !important;
	color: white !important;
	font-family: myfont !important;
	font-size: medium !important;
	height: 37px !important;
	margin-top: 26px !important;
	width: 130px !important;
}

#mycart {
	background: white none repeat scroll 0 0;
	border-radius: 50%;
	color: black;
	margin-left: 12px;
	margin-top: 34px;
	padding-left: 6px;
	padding-right: 6px;
	font-size:10px;
}

#myCartChild {
    background: white none repeat scroll 0 0;
    border: 1px solid #595959;
    border-radius: 4px;
    padding: 20px;
    position: absolute;
    width: auto;
    z-index: 9999;
}

.hellouser {
    color: black;
    font-family: arial;
    font-size: small;
    font-weight:bold;
}
/* ---------- home page search box ---------- */
#_search_WAR_esquareecommerceportlet_INSTANCE_1000_productName {
	border: 1px solid #e1e1e1 !important;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.075) inset;
	color: black !important;
	font-family: myfont !important;
	font-size: 16px !important;
	height: 28px !important;
	margin-bottom: 0 !important;
	width: 350px !important;
}

#detail_pro_added_to_wishlist {
	 background: #4dc48a none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: myfont;
    font-size: medium;
    height: 38px;
    padding: 5px;
    width: 120px;
}
#detail_pro_added_to_wishlist:hover{
	background: #48eba4;
}
/* ---------- Shopping Cart Content Only---------- */
#_cart_WAR_esquareecommerceportlet_fm {
	margin-left: 15% !important;
	margin-right: 15% !important;
}
/* ---------- Checkout form page---------- */
#billingtopdiv {
	border: 2px solid #f1f1f1;
	border-radius: 0 !important;
	padding-left: 20px;
	padding-right: 20px;
}

.saveandcontinue {
	background-color: #45a5d5 !important;
	border: 0 none !important;
	color: white !important;
	font-family: myfont !important;
	font-size: medium !important;
	height: 37px !important;
	margin-bottom: 20px !important;
	margin-top: 10px !important;
	width: 130px !important;
}

#showDiv {
	display: none !important;
}

.bill_border {
	display: none !important;
}

.break {
	display: none !important;
}

#bill {
	background: #4dc48a none repeat scroll 0 0;
	color: white;
	font-family: centurygothic;
	font-size: 20px;
	height: 45px;
	line-height: 40px;
	margin-bottom: 0;
	padding-left: 24px;
}

.orderconfirm {
    border: 2px solid #f1f1f1;
    margin-left: 15%;
    margin-right: 15%;
} 
@media (max-width:500px){
	.orderconfirm {

    margin-left: 0;
    margin-right: 0;
} 
}
.aui .table-bordered caption + thead tr:first-child th, .aui .table-bordered caption + tbody tr:first-child th, .aui .table-bordered caption + tbody tr:first-child td, .aui .table-bordered colgroup + thead tr:first-child th, .aui .table-bordered colgroup + tbody tr:first-child th, .aui .table-bordered colgroup + tbody tr:first-child td, .aui .table-bordered thead:first-child tr:first-child th, .aui .table-bordered tbody:first-child tr:first-child th, .aui .table-bordered tbody:first-child tr:first-child td {
    background:#4dc48a none repeat scroll 0 0;
    border-top: 0 none;
    color: white;
}
.aui .table td {
    background-color: white;
    font-family: arial;
    font-size: 12px;
}


/* ----------Responsive Home Page---------- */


@media (max-width: 720px) {

#_search_WAR_esquareecommerceportlet_INSTANCE_1000_fm td {
    display: none;
}
/* #_search_WAR_esquareecommerceportlet_INSTANCE_1000_productName {
	display:none;
} */
.categoriesbutton{
	display:none;
}
#responsive-top, #myCarousel {
	margin-top:-25px;
}
#filterbox {
	margin-left:10%;
	width:75%;
}
#_cart_WAR_esquareecommerceportlet_fm {
	margin-left: 5% !important;
	margin-right: 5% !important;
}	
	}
	
/* ----------liferay defaults---------- */

.aui input[type="radio"], .aui input[type="checkbox"] {
    margin: 0 0 0 10px !important;
}
.aui .nav-tabs {
    padding-right: 9%;
    padding-top: 1%;
}

/* ----------my profile style---------- */

#_coupon_WAR_esquareecommerceportlet_startDate,#_coupon_WAR_esquareecommerceportlet_endDate{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 230px center;
}
#_coupon_WAR_esquareecommerceportlet_startDateTime,#_coupon_WAR_esquareecommerceportlet_endDateTime{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/time.png") no-repeat scroll 84px center;
	width: 100px;
	 margin-left: 5px;
}
#_myprofile_WAR_esquareecommerceportlet_birthday{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_emailAddress,#_myprofile_WAR_esquareecommerceportlet_zip{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/email.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_mobile,#_myprofile_WAR_esquareecommerceportlet_phone{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/phone.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_skypeSn{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/skype.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_city{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/city.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_street{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/street.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_db-pfirstname,#_myprofile_WAR_esquareecommerceportlet_db-plastname{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/name.png") no-repeat scroll 230px center;
}
#_myprofile_WAR_esquareecommerceportlet_password1,#_myprofile_WAR_esquareecommerceportlet_password2{
	background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/password.png") no-repeat scroll 230px center;
}

/* ---------- Input Text Area & Text Style ---------- */
.aui input[type="text"],.aui input[type="password"]{
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.075) inset !important;
	border-radius: 2px !important;
	border: 1px solid #ddd !important;
    height: 30px;
    width: 250px;
    font-family: myfont;
    font-size: large;
}
.aui select{
	box-shadow: 0 0px 2px rgba(0, 0, 0, 0.075) inset !important;
	border-radius: 2px !important;
	border: 1px solid #ddd !important;
	height: 39px;
    width: 265px;
}
.aui textarea {
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset !important;
    height: 140px;
    width: 250px !important;
}
.aui label {
    color: #888888;
    font-family: arial;
    font-size: 13px;
}

.dashboard-headingstyle {
    color: #1a1a1a !important;
    font-family: helveticaneue !important;
    font-size: large !important;
    padding-left: 20px !important;
}

#db-personaldetails,#db-addressdetails,#accordion-inner{
    border: 0 none !important;
    height: auto !important;
    margin: 0 !important;
    width: 100% !important;
}
.esq_separator {
    
    display: none !important;

}

#db-addimage {
    border: 0 none !important;
    height: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.aui #heading .portlet-borderless-container {
	margin-bottom: 0px;
}


/* ----------Page Rating Style ---------- */
@media (max-width: 720px) {
	.taglib-ratings.stars {
margin-left: 0 !important;
}

.lfr-textarea, .form .fieldset .lfr-textarea-container textarea {
    background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/com.png") no-repeat scroll 182px center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-width: 200px !important;
}


}

.rating-label {
    font-family: helveticaneue;
    font-size: small;
    padding-bottom: 8px;
    text-align: center;
}

.taglib-ratings.stars {
    margin-bottom: 2%;
    margin-left: 37%;
    margin-top: 2%;
    overflow: hidden;
}


.add-comment .control-label {
    visibility: hidden;
}
.aui .icon-star-empty::before {
    color: #d9d9d9;
    font-size: 28px;
}
.aui .icon-star::before {
    color: #ffb500;
    font-size: 28px;
}
/* ----------Comment Rating Style ---------- */
.taglib-discussion .lfr-discussion {
    border: 1px solid #ddd !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.075) inset !important;
    margin-left: 16.7% !important;
    margin-right: 17.2%;
}
.lfr-textarea, .form .fieldset .lfr-textarea-container textarea {
    background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/com.png") no-repeat scroll 820px center;
    margin-left: 16.7%;
    margin-right: 17.2%;
    min-width: 879px;
}

.aui .icon-thumbs-up::before {
    color: #00933f;
    font-size: 16px;
}

.aui .icon-thumbs-down::before {
    color: #fe0002;
    font-size: 16px;
}

.button-holder .btn.btn-comment{
background: #45a5d5 none repeat scroll 0 0 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: 15px !important;
    height: 32px;
    width: 120px !important;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
.button-holder .btn.btn-comment:hover{
	background: #4DC48A !important;
}

 .taglib-discussion .lfr-discussion-form-container .lfr-discussion-form {
    background: white none repeat scroll 0 0;
    border-radius: 0;
}

.add-comment .button-holder{
	text-align: center;
}
.add-comment{
    font-family: arial;
    font-size: 12px;
    text-align: center;
}

.taglib-discussion .lfr-discussion-message {
    color: gray;
    font-size: 12px;
    padding-bottom: 1em;
    padding-right: 10%;
    text-align: justify;
    word-break: break-all;
    min-height: 40px;
}

.taglib-user-display.display-style-2 .user-profile-image, .taglib-user-display.display-style-2 .user-name {
    clear: both;
    color: black;
    display: block;
    font-family: centurygothic;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
}

.taglib-discussion .lfr-discussion-details .taglib-user-display .user-details .user-name, .taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image {

    text-align: left;
}
.taglib-discussion .lfr-discussion-details .taglib-user-display .user-profile-image img {
    width: 75px;
}
.taglib-discussion .lfr-discussion-posted-on {
    background: #4dc48a none repeat scroll 0 0;
    color: white;
    font-family: centurygothic;
    font-size: 12px;
    margin-right: 6px;
    margin-top: 8px;
    padding: 2px 12px;
}

/* ----------wallet ---------- */

.aui .nav-tabs > li {
    margin-bottom: 0;
}
.tab.active {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    padding-top: 0;
    position: static;
    top: 0;
}
.aui .nav-tabs > .active > a, .aui .nav-tabs > .active > a:hover, .aui .nav-tabs > .active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #45a5d5;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: white;
    cursor: default;
    font-family: Cabin;
    text-align: center;
}


.mywalletBaldiv {
    background: #c6da58 none repeat scroll 0 0;
    color: white;
    font-family: myfont;
    font-size: large;
    padding: 28px 5px !important;
    text-align: center;
    width: 60%;
}
#walletuser{
	 padding-left: 19%;
}
#wallet{
	background: #4dc48a none repeat scroll 0 0;
    color: #fff;
    font-family: myfont;
    font-size: medium;
    height: 38px;
    padding: 5px;
    width: 120px;
}
#VerticalNavDiv {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 15px;
    padding: 67px 0;
    text-align: center;
}
#order{
	color: #1a1a1a;
    font-family: helveticaneue;
    font-size: large;
    padding-left: 20px;
    margin-top: 12px;
}
.aui .alert, .aui .portlet-msg-alert, .aui .portlet-msg-error, .aui .portlet-msg-help, .aui .portlet-msg-info, .aui .portlet-msg-progress, .aui .portlet-msg-success {
    background: white none repeat scroll 0 0;
    border: 0 none;
    color: black;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-align: center;
    text-transform: capitalize;
}
#search{
	 background-color: gray !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 40px !important;
    margin-bottom: 0;
    margin-top: 0;
    width: 130px !important;
     margin-left: 0 !important;
     transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
#search:hover{
	background-color: #FDC00F !important;
}

.table-cell.first > a {
    background: #ff9800 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    padding: 5px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
.table-cell.first > a:hover {
    background: #8BC34A none repeat scroll 0 0;
}
.aui .modal-header {
    border-bottom: 1px solid #eee;
    font-family: centurygothic;
    padding: 14px 20px;
}



#content {
    min-height: 490px;
}
.alert.alert-info {
    min-height: 200px;
    font-family: arial;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.ebsbutton{
background: #45a5d5 none repeat scroll 0 0;
    border: 0 none;
    font-family: myfont;
    height: 35px;
    min-width: 110px;
    color:white;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    border-radius: 3px;
}
.ebsbutton:hover{
background-color: #CDDC39;
}

/* ----------Order Succsess Messages ---------- */



    .thankyou {
    font-family: myfont;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.orderid {
    color: #45a5d5;
    font-size: 20px;
    font-weight: normal !important;
    letter-spacing: 1px;
}
.ordermessages {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.orderholepage {
    border: 1px solid #ccc;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    min-height: 300px;
    padding-top: 5%;
}
.header{
	font-family: helveticaneue !important;
    padding-left: 15px;
    text-align: center;
 }
 .amountpaid{
    color: #45a5d5;
    font-family: myfont;
    font-size: 30px;
    
 }
 
 
 
 
 
 
#_mywallet_WAR_esquareecommerceportlet_orderRefundTrackersSearchContainerSearchContainer{
	margin-left: 116px;
    margin-right: 126px;
}

@media (max-width: 720px) {
.mywalletBaldiv {
    background: #c6da58 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    font-family: myfont;
    font-size: medium;
    padding: 33px 18px !important;
    text-align: center;
    width: 60%;
}

#_mywallet_WAR_esquareecommerceportlet_orderRefundTrackersSearchContainerSearchContainer{
	margin-left: 0;
    margin-right: 0;
}
}
.form-validator-stack.help-inline .email{
	 font-family: arial;
    font-size: 12px;
    margin-right: 15%;
}
 .form-validator-stack.help-inline .required{
 font-family: arial;
    font-size: 12px;
    margin-right: 29%;
 }
 
 
 
#continueshoping{
	 background-color: #45a5d5;
    border: 0 none;
    color: white;
    font-family: myfont !important;
    margin-left: 7px !important;
    min-height: 40px;
    min-width: 120px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
 #continueshoping:hover{
	background-color:#4DC48A;
 }
 #def-headerul #continueshoping {
    margin-left: 9% !important;
}
 /* ----------User view Order ---------- */
 .ordertextsearch {
    margin-left: 7%;
}
.order_back {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    min-height: 200px;
    padding-bottom: 20px;
    border-radius: 3px;
}

    
   /* ----------Admin view Order ---------- */  
#ordertrackingheader #def-headerul {
  min-height: 400px;
  }  
#def-headerul .lfr-search-container{
	margin-left: 8%;
    margin-right: 8%;
	
}
@media (max-width: 500px) {
	#def-headerul .lfr-search-container{
	margin-left: 0;
    margin-right: 0;
	
}
}
.ordertextsearchadmin{
	 margin-left: 8.5%;
}

.aui .nav-tabs > li > a {
    background: white none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    font-family: Cabin;
    text-align: center;
}

.aui .table .table-sort-liner a {
    color: white;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.aui .pager .disabled > a, .aui .pager .disabled > a:hover, .aui .pager .disabled > a:focus, .aui .pager .disabled > span {
    background-color: #45a5d5;
    border-radius: 2px;
    color: white;
    cursor: default;
    font-family: arial;
    font-size: 12px;
}
.aui .pager li > a, .aui .pager li > span {
    background-color: #45a5d5;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: white;
    display: inline-block;
    padding: 5px 14px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    font-family: arial;
    font-size: 12px;
    
}
.aui .pager li > a:hover, .aui .pager li > a:focus {
    background-color: #4DC48A;
    text-decoration: none;
}

/* ----------Empty Shoppingcart ---------- */
    
#eecart-emptymsg {
    font-family: arial;
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;

}







/* ----------compare product ---------- */
#comparebuy{
	 background: #45a5d5 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: myfont;
    font-size: medium;
    padding: 5px 10px;
}

.compareRs {
    color: #390;
    font-family: myfont;
    font-size: medium;
    font-weight: bold;
    height: 23px;
    padding-top: 5px;
}
.comparestock {
    font-size: medium;
}
.eec_compare_title {
 	background: white none repeat scroll 0 0;
    color: #333333;
    font-family: centurygothic;
    font-size: large;
    font-weight: normal;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.key {
	background: white none repeat scroll 0 0;
    color: #1a1a1a;
    font-family: arial;
    font-size: small;
    font-weight: normal;
    text-align: center;
     max-width: 50px;
}
.compontent {
    color: #595959;
    font-family: arial;
    font-size: 12px;
    padding: 20px;
    text-align: justify;
    max-width: 100px;
}
#eec_compare_table , #eec_compare_table td , .afix td {
border:1px solid #ddd;
}
#eeccaart-comaprebutton:HOVER {
	cursor: auto;
	background-color: transparent;
}

.compare-view {
    background: white none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}
.comparebutton{
background-color: #45a5d5 !important;
    border: 1px dotted #ddd;
    color: white !important;
    font-family: myfont !important;
    font-size: small !important;
    height: 30px !important;
    width: 85px !important;
    }
    .compareshop {
    background: #45a5d5 none repeat scroll 0 0;
    color: white !important;
    display: block;
    height: 25px;
    padding: 12px 10px 10px;
    text-align: center;
    width: 115px;
}
#eecart-emptymsg{
	min-height: 150px;
}
.dashboard-maindiv2 .nav-tabs{
	padding-left: 9.3%;
}










/* ----------payment pages ---------- */

.codbutton {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fdcdad 0px, #fdcdad 3%, #fc8332 3%, #fc8332 100%) repeat scroll 0 0;
    border: 1px solid #e26b00;
    color: white;
    height: 45px;
    min-width: 200px;
    
}
.codbutton:hover{
 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fcb383 0px, #e25d03 3%, #fc8332 3%, #fb6704 100%) repeat scroll 0 0;
}
.verifyheading {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
.verifytext {
    font-family: arial;
    font-size: 12px;
    text-align: justify;
}
.verify{
	background: #f9f9f9;
	padding: 21px;
	border: 1px solid #ccc;
	margin-top: 4px;
}
#paymenttopdiv {
    border: 2px solid #f1f1f1;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 250px;
     min-height: 350px;
}
@media (max-width:500px){
	#paymenttopdiv {

    margin-left: 0;
    margin-right: 0;

}
} 
 .tab-container #etabs{
  margin-left: 0;
 }
 .tab-container #etabs .tab{
 height:51px;
 }
 #etabs .tab .active{
    background: #595959 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-family: helveticaneue;
    font-size: 12px;
    font-weight: bold;
    min-width: 174px;
    text-align: center;
    text-decoration: none;
    
}
#etabs {
    top: 0 !important;
}
#etabs .tab a{
background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #fff 0px, #fff 5%, #f2f2f2 5%, #f2f2f2 100%) repeat scroll 0 0;
    border-radius: 0;
    color: black;
    display: block;
    font-family: arial;
    font-size: 12px;
    line-height: 50px;
    min-width: 174px;
    outline: 0 none;
    padding: 0;
    text-align: center;
    text-decoration: none;
}
.paymentheading {
    font-family: helveticaneue !important;
    font-size: 22px !important;
    text-align: center;
}





/* ----------order tracker pages ---------- */

.ordersubmit{
 background: #45a5d5 none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 3px;
    color: white !important;
    display: inline-block;
    font-family: myfont !important;
    font-size: medium !important;
    min-width: 134px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    padding-bottom: 9px;
    padding-top: 9px;
}
.ordersubmit:hover{
 background: #ffc107 !important;
 }
 #_ordertracker_WAR_esquareecommerceportlet_INSTANCE_6oHjEmwiiuJP_dateV{
 	width: 120px;
 	 background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 104px center;
 }
 #_ordertracker_WAR_esquareecommerceportlet_INSTANCE_6oHjEmwiiuJP_{
 width: 95px;
 background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/time.png") no-repeat scroll 84px center;
 }
 #_ordertracker_WAR_esquareecommerceportlet_INSTANCE_6oHjEmwiiuJP_location{
 background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/date.png") no-repeat scroll 230px center;
 background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/city.png") no-repeat scroll 230px center;
 }
 #_cart_WAR_esquareecommerceportlet_walletAmount{
 background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/wallet.png") no-repeat scroll 234px center;
 }
 #_ordertracker_WAR_esquareecommerceportlet_INSTANCE_6oHjEmwiiuJP_comment{
 background: rgba(0, 0, 0, 0) url("/esquare-ecommerce-portlet/images/com.png") no-repeat scroll 462px center;
 width: 530px !important;
  height: 130px !important;
 }
 #ddd{
  background: #45a5d5 none repeat scroll 0 0 !important;
    border: 0 none !important;
    border-radius: 3px;
    color: white !important;
    display: inline-block;
    font-family: myfont !important;
    font-size: medium !important;
    min-width: 134px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s !important;
    padding-bottom: 9px;
    padding-top: 9px;
}
#ddd:hover{
 background: #ffc107 !important;
}
.backorder{
	float: right; 
	text-decoration: none;
	margin-right: 20px;
	font-family: arial;
}
#_ordertracker_WAR_esquareecommerceportlet_INSTANCE_6oHjEmwiiuJP_fm .searchcontainer-content {
   margin-left: 20px;
    margin-right: 20px;
}
.results-grid {
	border-style: none;
}

.taglib-search-iterator td.valign-middle ul {
	list-style: none;
}

.orderheading {
    background: #45a5d5 none repeat scroll 0 0;
    color: white !important;
    font-family: arial !important;
    font-size: small !important;
    padding: 6px !important;
    text-align: center !important;
}
#btnPrint{
	margin-left: 16px;
}
.minalign {
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    min-width: 150px;
    margin-left: 10px;
}
.ebsbutton {
    background: #45a5d5 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: white;
    font-family: myfont !important;
    height: 45px;
    margin-top: 14% !important;
    min-width: 110px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
.ebsbutton:hover{
	background-color: #CDDC39;
}

.answer{
	font-size: 13px;
	font-family: arial;
}


#checkout {
    font-family: helveticaneue;
    font-size: large;
    padding-top: 5px;
}

.control-group.field-wrapper.ecart-cart-wallet-bal-amt.ecart-headfontfam {
    background: #ffc107 none repeat scroll 0 0;
    color: white;
    font-family: centurygothic;
    font-weight: bold;
    padding-left: 11%;
    width: 16.9%;
    font-size: 13px;
}


.heading_style {
	color: #FF962D;
	font-size: 15px;
	margin-left: 73px;
}

.accordion-heading {
	color: #1a1a1a !important;
    font-family: helveticaneue !important;
    font-size: large !important;
    padding-left: 20px !important;
}
#db-addimage,#db-personaldetails,#db-addressdetails
{
	border:none;
}

@media (max-width: 500px) {
	#savebutton {
	margin-top: 25% !important;
	}
}
#savebutton {
    margin-top: 3%;
    background: #45a5d5 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: white;
    font-family: myfont !important;
    height: 40px;
    min-width: 110px;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
    font-weight: bold;
}
#savebutton:hover{
	background-color: #CDDC39;
}
.similarproduct{
	text-align: center;
    width: 100%;
}

#viewmorebottom{
background-color: #45a5d5 !important;
    border: 0 none !important;
    color: white !important;
    font-family: myfont !important;
    font-size: medium !important;
    height: 40px !important;
    width: 130px !important;
     margin-left: 27px;
     transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
#viewmorebottom:hover{
	background-color: #48EBA4 !important;
}